<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./Home.css"/>
  
  
  <script src="./main.js" defer></script>
  <title>Seventh arena</title>
</head>
<body>
  <div class="home-container">
    <div class="hero-container">
      <div class="h-text-c">
        <h1 class="h-text">
          Bring <br> the Hype
        </h1>
        <h3 class="sub">Unleash your fashion</h3>
      </div>
      <div class="h-img-c">
        <img src="./hero-img.jpg" alt="" class="h-img">
      </div>
    </div>
    <div class="hero-offer-notification">
      <div class="offer-notification-cont">
        <p class="notification-title " id='nt'><small style="font-size:14px; margin-right: 10px;">Seventh arena * * </small>
          Sale is

          <small style="font-size:14px; margin-left: 10px;"> * * Sixtharena</small>
        </p>
      </div>
    </div>
    <div class="filter">
      <div class="isec selected">Shirts</div>
      <div class="isec ">Shoes</div>
    </div>
    <div class="sec prod " id="Shirts">
      <p class="sec-title"> topwear </p>
      <div class="home-products">
        <!-- {% for t in topwear %} -->
        <div class="card">
          <a class="product-img">
            <img src="https://res.cloudinary.com/shaikhazrath/image/upload/v1671878766/7arena/isa0bu1tsyxdwphf0gqb.jpg" class="card-img-top skeleton" alt="...">
            <p class="card-text price" >₹ 1500/-</p>
          </a>
          <div class="card-body">
          
            <div class="dcont more">
                        <div class="whiteshade"></div>
            </div>
            <a class="h-btn">Order Item</a>
          </div>
        </div>
        <div class="card">
          <a class="product-img">
            <img src="https://res.cloudinary.com/shaikhazrath/image/upload/v1671878764/7arena/kvwwg5elmz3lmcprpdqo.jpg" class="card-img-top skeleton" alt="...">
            <p class="card-text price" >₹ 200/-</p>
          </a>
          <div class="card-body">
            <h5 class="card-title" >shirt name</h5>
            <div class="dcont more">
              <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam ab qui eos ut tempore debitis
                veritatis non voluptates explicabo quis. </p>
              <div class="whiteshade"></div>
            </div>
            <a class="h-btn">Order Item</a>
          </div>
        </div>
        <div class="card">
          <a class="product-img">
            <img src="https://res.cloudinary.com/shaikhazrath/image/upload/v1671878763/7arena/ahpsdgheeywsvjkv0vaw.jpg" class="card-img-top skeleton" alt="...">
            <p class="card-text price" >₹ 200/-</p>
          </a>
          <div class="card-body">
            <h5 class="card-title" >shirt name</h5>
            <div class="dcont more">
              <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam ab qui eos ut tempore debitis
                veritatis non voluptates explicabo quis. </p>
              <div class="whiteshade"></div>
            </div>
            <a class="h-btn">Order Item</a>
          </div>
        </div>
        <!-- {% endfor %} -->
      </div>
    </div>
  


    <div class="sec prod hide" id="Shoes">
      <p class="sec-title"> Shoes </p>
      <div class="home-products">
        <!-- {% for b in shoes %} -->
        <div class="card">
          <a class="product-img">
            <img src="https://res.cloudinary.com/shaikhazrath/image/upload/v1671433379/7arena/bmrmus4b9crtivsxupmg.jpg" class="card-img-top skeleton" alt="...">
            <p class="card-text price">₹ 900/-</p>
          </a>
          <div class="card-body">
            <h5 class="card-title">shoes name</h5>
            <div class="dcont more">
              <p class="desc" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam ab qui eos ut
                tempore debitis
                veritatis non voluptates explicabo quis. </p>
              <div class="whiteshade"></div>
            </div>
            <a class="h-btn">Order Item</a>
          </div>
        </div>
        <div class="card">
          <a class="product-img">
            <img src="https://res.cloudinary.com/shaikhazrath/image/upload/v1671433376/7arena/ys5fxkqi6tupurc6a8t4.jpg" class="card-img-top skeleton" alt="...">
            <p class="card-text price">₹ 900/-</p>
          </a>
          <div class="card-body">
            <h5 class="card-title">shoes name</h5>
            <div class="dcont more">
              <p class="desc" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam ab qui eos ut
                tempore debitis
                veritatis non voluptates explicabo quis. </p>
              <div class="whiteshade"></div>
            </div>
            <a class="h-btn">Order Item</a>
          </div>
        </div>
        <div class="card">
          <a class="product-img">
            <img src="https://res.cloudinary.com/shaikhazrath/image/upload/v1671433372/7arena/wdtncxztcvjozmtaiiut.jpg" class="card-img-top skeleton" alt="...">
            <p class="card-text price">₹ 900/-</p>
          </a>
          <div class="card-body">
            <h5 class="card-title">shoes name</h5>
            <div class="dcont more">
              <p class="desc" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam ab qui eos ut
                tempore debitis
                veritatis non voluptates explicabo quis. </p>
              <div class="whiteshade"></div>
            </div>
            <a class="h-btn">Order Item</a>
          </div>
        </div>
        <!-- {% endfor %} -->
      </div>
    </div>
  
  </div>
  <hr>
</body>
</html>
